@font-face {
  font-family: "ArmandGrotesk";
  src: local("ArmandGrotesk"),
  url(~assets/css/fonts/ArmandGroteskTRIAL-Bold.otf) format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "ArmandGrotesk";
  src: local("ArmandGrotesk"),
  url(~assets/css/fonts/ArmandGroteskTRIAL-SemiLight.otf) format("opentype");
  font-weight: normal;
  font-stretch: 87.5% 112.5%;
}

@font-face {
  font-family: "Sneaky-Times";
  src: url('~assets/css/fonts/Sneaky-Times.woff2') format('woff2'),
  url('~assets/css/fonts/Sneaky-Times.woff') format('woff');
  font-weight: normal
}


@font-face {
  font-family: "authentic";
  src: url('~assets/css/fonts/AUTHENTICSans-Condensed-90.woff2') format('woff2'),
  url('~assets/css/fonts/AUTHENTICSans-Condensed-90.woff') format('woff');
  font-weight: normal
}

@font-face {
  font-family: "SissiDisplay";
  src: url('~assets/css/fonts/SissiDisplay-Regular.woff') format('woff');
  font-weight: normal
}

html {
  font-family: "authentic", sans-serif;
  /*font-family: "authentic", sans-serif;*/
}
