:root {
  --grain: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="grain"> \
      <feTurbulence type="turbulence" baseFrequency="0.5" numOctaves="2" result="turbulence"/> \
      <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="3" xChannelSelector="R" yChannelSelector="G"/> \
      </filter> \
  </svg>#grain');

  --grainTest: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB"> \
  <feTurbulence type="turbulence" baseFrequency="0.015 0.1" numOctaves="2" seed="2" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="turbulence"/> \
  <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="15" xChannelSelector="R" yChannelSelector="B" x="0%" y="0%" width="100%" height="100%" result="displacementMap1"/> \
  </filter> |\
  </svg>#filter');
}
body {
  /*filter: var(--grain);*/
}

/*
<animate xlink:href="#filter" id="anim-dialiate" attributeName="scale" from="0" to="20" dur="3s" fill="freeze" /> \
*/
